# Environments
venv/
.env
.env.local
.venv/
env/

# Node
node_modules/
dist/
dist-ssr/
*.local

# Python
__pycache__/
*.py[cod]
*$py.class
*.sqlite3
*.log

# IDE & OS
.vscode/
.idea/
.DS_Store
Thumbs.db
*.bak
